# ==========================================
# SUPABASE (Database, Auth, & Storage)
# ==========================================
VITE_SUPABASE_URL="https://xxxxxxxxx.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbxxxxxxxxxxxxxxxxxxxxx"

# Hanya butuh dua baris ini!
